# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.hex
*.elf

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### OS Related ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
[Dd]esktop.ini
.DS_Store
.AppleDouble
.LSOverride

# Folders
.vscode/
libraries/
# deploy.sh
